header {
    display: flex;
    flex-wrap: wrap;
}
#lewy {
    text-align: center;
    width: 75%;
    height: 150px;
    font-size: 200%;
}

#prawy {
    width: 25%;
    text-align: center;
    height: 150px;
}
main {
    background-color: rgb(128, 0, 0);
    padding: 50px;
    text-transform: uppercase;
}
#lewydol, #prawydol {
    width: 20%;
    padding-top: 90px;
}
#gorasrodek {
    text-align: center;
    width: 60%;
    
}
footer {
    display: flex;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(244, 164, 96);
    color: white;
}
p {
    font-size: 150%;
    border: 2px dotted rgb(169, 169, 169);
}
p:hover {
    background-color: rgb(169,169,169);
}
table {
    width: 100%;
    border-collapse: collapse;

}
th, td {
    border: 1px solid rgb(192,192,192) ;
    padding: 5px;
}